<div class="row">
  <div class="col-md-12">
    <%= form_for([current_user, @exercise], :html => {class: "form-horizontal", role: "form"}) do |field| %>

      <% if @exercise.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@exercise.errors.count, "error") %> prevented this exercise from being saved:</h2>
          <ul>
            <% @exercise.errors.full_messages.each do |msg| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= field.label :duration_in_min, "Duration (minutes)" %>
        </div>
        <div class="col-md-10">
          <%= field.number_field :duration_in_min, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= field.label :workout, "Workout details" %>
        </div>
        <div class="col-md-10">
          <%= field.text_area :workout, class: "form-control", rows: "10" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= field.label :workout_date, "Date" %>
        </div>
        <div class="col-md-10">
          <%= field.text_field :workout_date, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= field.submit class: "btn btn-success btn-lg" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
